.DS_Store
config/config2.yaml
logs
data/datasets
optimized
*/__pycache__
*.pyc
# Ignore workspace but allow results.json files
/workspace/**
!/workspace/
!/workspace/**/
!/workspace/**/results.json
!/workspace/VNPT/workflows/**
/workspace/VNPT/workflows/**/__pycache__
# Ignore all JSON files except results.json
*.json
!results.json
test.py
.vscode
*.log
.env
tester.txt
config/config_temp.yaml
!/workspace/VNPT/workflows/**/log.json
!/workspace/VNPT/workflows/**/experience.json