.DS_Store
config/config2.yaml
logs
data/datasets
optimized
*/__pycache__
*.pyc
# Ignore workspace but allow results.json files
/workspace/**
!/workspace/
!/workspace/**/
!/workspace/**/results.json
!/workspace/VNPT/workflows/**
/workspace/VNPT/workflows/**/__pycache__
!/workspace/VNPT_deepseek/workflows/**
/workspace/VNPT_deepseek/workflows/**/__pycache__
!/workspace/VNPT_gemini/workflows/**
/workspace/VNPT_gemini/workflows/**/__pycache__
!/workspace/VNPT_full_small/workflows/**
/workspace/VNPT_full_small/workflows/**/__pycache__
# Ignore all JSON files except results.json
*.json
!results.json
test.py
.vscode
*.log
.env
tester.txt
config/config_temp.yaml
config/API_VNPT.pdf
!/workspace/VNPT/workflows/**/log.json
!/workspace/VNPT/workflows/**/experience.json
!/workspace/VNPT_deepseek/workflows/**/log.json
!/workspace/VNPT_deepseek/workflows/**/experience.json
!/workspace/VNPT_gemini/workflows/**/log.json
!/workspace/VNPT_gemini/workflows/**/experience.json
!/workspace/VNPT_full_small/workflows/**/log.json
!/workspace/VNPT_full_small/workflows/**/experience.json